.jlpt-layout .font h2 {
  color: #6e6ed3;
  font-size: 30px;
}

.jlpt-layout .font h3 {
  color: #6e6ed3;
  font-size: 27px;
}

.jlpt-layout .font h5 {
  color: #ecc56a;
  font-size: 25px;
  line-height: 1.35;
}

.jlpt-layout .font h6 {
  color: #ecc56a;
  font-size: 20px;
}

.jlpt-layout .font p {
  color: #8e8e90;
  font-size: 20px;
}

.jlpt-layout .font ul {
  color: #8e8e90;
  font-size: 20px;
  margin-top: 5px; 
}

.jlpt-layout .no-list-style {
  color: #8e8e90;
  font-size: 20px;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.jlpt-layout .ptline {
  color: #c93c2c;
  font-size: 20px;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.jlpt-layout .bold-text {
  font-weight: bold;
  font-weight: 600;
}

.jlpt-layout .underline {
  text-decoration-line: underline;
  text-decoration-color: #8e8e90;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

/* 強調型的標籤 */
.jlpt-layout .font em {
  color: #ecc56a;
  font-size: 25px;
  line-height: 3;
}




